*{
	font-family: Tahoma;
}

nav.navbar{
	background-color: transparent;
	border-color: transparent;
}
.fond{
	background-color: 
}
.foco{
	display: inline;
	width: 20%;
	
}
h2{
	display: inline;
}

}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 10%;
      margin: auto;
  }
.chic{
	width: 15%;
	margin-right: 2%;
	align-content: center;
	margin-top: 2%;
}
.btn{
	color: white;
	background-color: #264d73;
	width: 30%;
	height: 60%;
	display: block;
	margin-top: 3%;
}
.matop{
	margin-top: 40%;
}
h2{
	font-style: bold;
	font-stretch: bold;
	color: #264d73;
}
.center{
	text-align: center;
	margin-top: 3%;
}
.hov{
	position: absolute;
	top: 0;
	background-color: rgba(38, 77, 115, 0.5);
	width:90%;
	height: 100%;
	opacity:0;
	

}
.hov:hover{
	opacity: 1;
}
.distrac{
	width: 100%;
	height: 100%;
}
.hovy{
	position: absolute;
	top: 0;
	background-color: rgba(0, 179, 179, 0.5);
	width:90%;
	height: 100%;
	opacity:0;
	

}
.hovy:hover{
	opacity: 1;
}
.mde{
	width: 100%;

}